<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main.html}">

<head>
	<title>Adicionar</title>
	<script>
		$(document).ready(function () {
			validarForm();

			valorMoeda('valor');
		});
		function confirmExclusao() {
			return confirm("Tem certeza que desaja excluir?");
		}
	</script>
</head>

<body>
	<main class="container" layout:fragment="content">
		<br />
		<div class="row">
			<form class="row g-3 needs-validation" action="/v1/cadastrar" method="post" novalidate>
				<div class="col-md-6">
					<label for="tipo" class="form-label">Tipo</label>
					<input type="text" id="tipo" name="tipo" class="form-control" required>
					<div class="invalid-feedback">
						Informe um tipo.
					</div>
				</div>
				<div class="col-md-3">
					<label for="situacao" class="form-label">Situação</label>
					<select id="situacao" name="situacao" class="form-select" required>
						<option th:each="status : ${situacoes}" th:value="${status.getId().getValor()}"
							th:utext="${status.getId()}" th:attr="disabled=${status.getId().getValor() == 0}" />
					</select>
					<div class="invalid-feedback">
						Selecione uma situação.
					</div>
				</div>
				<div class="col-md-3">
					<label for="valor" class="form-label">Valor</label>
					<input type="text" step="0.01" id="valor" name="valor" class="form-control" required>
					<div class="invalid-feedback">
						Informe um valor.
					</div>
				</div>
				<div class="col-12">
					<button class="btn btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>

	</main>
</body>

</html>