<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="'Geverson Souza">
<meta name="description" content="Fluxo de Caixa">

<link href="../bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="../fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet" />
<link rel="icon" href="../favicon.ico">
<title>Home</title>
<script src="../jquery/jquery-3.7.1.min.js"></script>
<script src="../jquery/jquery-1.14.13.mask.js"></script>
<script src="../bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="../popperjs/popper-core-2.9.2.min.js"></script>
<script src="../bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
			'use strict'

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.querySelectorAll('.needs-validation')

			// Loop over them and prevent submission
			Array.prototype.slice.call(forms)
				.forEach(function (form) {
					form.addEventListener('submit', function (event) {
						if (!form.checkValidity()) {
							event.preventDefault()
							event.stopPropagation()
						}

						form.classList.add('was-validated')
					}, false)
				})
		})()

		$("#valor").mask('#.##0,00', {
			reverse: true
		});

		$("#teste").click(function (event) {
			event.preventDefault(); // Impede o envio padrão do formulário

			// Captura os dados do formulário
			var dadosFormulario = $('form').serializeArray();

			// Exibe os dados no console
			console.log(dadosFormulario);

			/*
			Exemplo: acessar valores específicos
			var nome = $("#nome").val();
			var email = $("#email").val();
			var idade = $("#idade").val();
			alert("Nome: " + nome + "\nEmail: " + email + "\nIdade: " + idade);
			*/

		})
		$(".dropstart").click(function () {
			var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
			var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
				return new bootstrap.Dropdown(dropdownToggleEl)
			})
		})
	});
	function confirmExclusao(){
		return confirm("Tem certeza que desaja excluir?");
	}
</script>
</head>

<body>
	<header>
		<nav class="navbar navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">
					<img src="cash_register_512.png" alt="" width="30" height="24">
				</a>
			</div>
		</nav>
	</header>
	<main class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6 mt-1">
				<div class="card bg-info text-white">
					<div class="card-body">
						<span class="row">
							<span class="icon text-white-50">
								<i class="fas fa-chart-pie"></i>
							</span>
							<h6 class="card-title ml-1">Valor Total</h6>
						</span>
						<h2 class="lead">R$ [[${valorTotal}]]</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-1">
				<div class="card bg-success text-white">
					<div class="card-body">
						<span class="row">
							<span class="icon text-white-50">
								<i class="fas fa-file-invoice-dollar"></i>
							</span>
							<h6 class="card-title ml-1">Receitas</h6>
						</span>
						<h2 class="lead">R$ [[${totalReceitas}]]</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-1">
				<div class="card bg-warning text-white">
					<div class="card-body">
						<span class="row">
							<span class="icon text-white-50">
								<i class="fas fa-lock"></i>
							</span>
							<h6 class="card-title ml-1">Bloqueios</h6>
						</span>
						<h2 class="lead">R$ [[${totalBloqueios}]]</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-1">
				<div class="card bg-danger text-white">
					<div class="card-body">
						<span class="row">
							<span class="icon text-white-50">
								<i class="fas fa-wallet"></i>
							</span>
							<h6 class="card-title ml-1">Despesas</h6>
						</span>
						<h2 class="lead">R$ [[${totalDespesas}]]</h2>
					</div>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-lg-12 col-sm-6 mt-1">
				<nav class="navbar navbar-light bg-light">
					<form class="container-fluid">
						<div class="navbar-brand">
							<input name="tipo" type="search" placeholder="Digite o que deseja"
								class="form-control me-2">
						</div>
						<div class="d-flex">
							<a href="/adicionar" class="btn btn-outline-success">Adicionar</a>
						</div>
					</form>
				</nav>
			</div>

			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Tipo</th>
						<th scope="col">Status</th>
						<th scope="col">Valor</th>
						<th>.</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="caixa : ${caixas}">
						<td th:text="${caixa.id}">Item 1</td>
						<td th:text="${caixa.tipo}">Item 1</td>
						<td th:text="${caixa.status}">Ativo</td>
						<td th:text="${'R$ ' + caixa.valor}">R$ 100,00</td>
						<td>
							<a title="Editar dados!"
								th:href="@{/editar/{id}(id=${caixa.id})}"
								class="btn btn-warning btn-circle btn-sm" style="margin: 5px">
								<i class="fas fa-edit"></i>
							</a>
							<a title="Excluir dados!" th:href="@{/excluir/{id}(id=${caixa.id})}"
								onclick="return confirmExclusao()" class="btn btn-danger btn-circle btn-sm "
								style="margin: 5px"><i class="fas fa-trash"></i></a>

						</td>
					</tr>
				</tbody>
			</table>
	</main>
	<footer class="container">
		<p class="m-0 text-center">
			Copyright &copy;
			2025
		</p>
	</footer>
</body>

</html>